<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
            title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <img src="/images/user_icon.png" style="width:45%;" class="w3-round"><br><br>
        <h4><b>Dash Menu</b></h4>

    </div>
    <div class="w3-bar-block">
        <a href="/userHome" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>Portfolio</a>
        <a href="/applicantSearch" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>Apply for jobs</a>
        <a href="/applicantProcess" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>Applications in process</a>
        <a href="/applicantResources" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>Link to resources</a>
        <a href="/">
            <button class="w3-button w3-black" style="margin-left: 5%; margin-top: 5%;">Logout</button>
        </a>
    </div>
    <div class="w3-panel w3-large">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <br />
    <!-- Advertising -->
    <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
            <h4>Advertise</h4>
        </div>
        <div class="w3-container w3-white">
            <div class="w3-container w3-display-container w3-light-grey w3-section" style="height:200px">
                <a href="https://www.swiggy.com/" target="_blank">
                    <img src="/images/ads.png" style="width:100%;">
                </a>
            </div>
        </div>
    </div>

</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
        <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
                class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
        <div class="w3-container">
            <h1><b>Your skills tag</b>
            </h1>
            <div class="w3-section w3-bottombar w3-padding-16">
                <!-- Tags -->
                <div class="w3-white w3-margin">
                    <div class="w3-container w3-white">
                        <p>
                            <span class="w3-tag w3-black w3-margin-bottom">Node.js</span>
                            <span class="w3-tag w3-black w3-margin-bottom">Java</span>
                            <span class="w3-tag w3-black w3-margin-bottom">Docker</span>
                            <span class="w3-tag w3-black w3-margin-bottom">Work Experience: 3 years</span>
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </header>


    <div class="w3-container w3-padding-large" style="margin-bottom:32px">
        <!-- Jobs -->
        <div class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-black">
                <h4>Java Developer</h4>
            </div>
            <div class="w3-container w3-white">
                <b>Job_id: j145</b>
                <p>InnoTech Solutions</p>
                <p>Tech Stack: Java, Node.js, Html, css</p>
                <p>Requirements: 3 years of professional experience, ready to relocate</p>
                
            <script type="text/javascript">
                function likeFunction(x) {
                    x.style.fontWeight = "bold";
                    x.innerHTML = "✓ Applied";
                }
            </script>
                <p><button type="button" class="w3-button w3-white w3-border"
                        onclick="likeFunction(this)">Apply</button></p>
            </div>
        </div>
        <div class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-black">
                <h4>Devops Engineer</h4>
            </div>
            <div class="w3-container w3-white">
                <b>Job_id: j155</b>
                <p>CloudPro</p>
                <p>Tech Stack: Scripting, Docker, Azure</p>
                <p>Requirements: 4 years of professional experience, ready to relocate</p>
                <script type="text/javascript">
                    function likeFunction(x) {
                        x.style.fontWeight = "bold";
                        x.innerHTML = "✓ Applied";
                    }
                </script>
                <p><button type="button" class="w3-button w3-white w3-border"
                        onclick="likeFunction(this)">Apply</button></p>
            </div>
        </div>
        <div class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-black">
                <h4>Software Engineer: 1</h4>
            </div>
            <div class="w3-container w3-white">
                <b>Job_id: j445</b>
                <p>General Motors</p>
                <p>Tech Stack: Embedded, Java, Sails.js</p>
                <p>Requirements: start immediately</p>
                <script type="text/javascript">
                    function likeFunction(x) {
                        x.style.fontWeight = "bold";
                        x.innerHTML = "✓ Applied";
                    }
                </script>
                <p><button type="button" class="w3-button w3-white w3-border"
                        onclick="likeFunction(this)">Apply</button></p>
            </div>
        </div>
        <div class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-black">
                <h4>Java Developer</h4>
            </div>
            <div class="w3-container w3-white">
                <b>Job_id: j145</b>
                <p>InnoTech Solutions</p>
                <p>Tech Stack: Java, Node.js, Html, css</p>
                <p>Requirements: 3 years of professional experience, ready to relocate</p>
                <script type="text/javascript">
                    function likeFunction(x) {
                        x.style.fontWeight = "bold";
                        x.innerHTML = "✓ Applied";
                    }
                </script>
                <p><button type="button" class="w3-button w3-white w3-border"
                        onclick="likeFunction(this)">Apply</button></p>
            </div>
        </div>
    </div>
</div>




<div class="w3-black w3-center w3-padding-24">Powered by: jobHunt.stream() | Theme Credits: w3schools</a>
    
</div>


<script type="text/javascript">
document.getElementById("myBtn").click();
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
    function likeFunction(x) {
        x.style.fontWeight = "bold";
        x.innerHTML = "✓ Liked";
    }
    function fchange();
    {
        document.getElementById("fskill").value = "Python";
    }
</script>